#PopupShadow > #BookingForm {
    display: flex;
}

#Booking {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid gray 1px;
    padding: 10px 40px;
    border-radius: 25px;
    position: relative;
}

#Booking > label {
    display: flex;
    margin-bottom: 0.5em;
    text-align: center;
    align-items: flex-end;
}

#Booking > h3 {
    margin-bottom: 0;
}

#Booking > label > span {
    display: block;
    text-align: left;
}

#Booking > label > span:first-child {
    margin-right: 5px;
}

#Booking > label > span:nth-child(3) {
    flex-grow: 1;
    text-align: right;    
}

#Booking > p > span {
    display: block;
}

#Booking input[type="email"] {
    flex-grow: 1;
}

#Booking input[type="submit"] {
    background-color: #00a8bd;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    margin-right: 10px;
}

#BookingClose {
    color: red;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
    font-size: 1.5em;
    position: absolute;
    top: -5px;
    right: 8px;
    cursor: pointer;
}