.DateSort {
    margin-top: 20px;
    height: auto;
    display: flex; 
    width: 100%;
    overflow: hidden;
}

.DateSort > div {
    background-color: #d5ae63;
    background-repeat: repeat-x;
    height: auto;
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.DateSort::before {
    content: " ";
    display: inline-block;
    height: 80px;
    width: 77px;
    background-image: url('./../Img/ticket_left.png');
}

.DateSort::after {
    content: " ";
    display: inline-block;
    height: 80px;
    width: 77px;
    background-image: url('./../Img/ticket_right.png');
}

.DateSort > div {
    flex-shrink: 1;
}

.DateSort select {
    background-color: #d5ae63;
    color: #ffffff;
    font-size: 120%;
    border-right-color: #5e4d2d;
    padding: 5px;
    height: 100%;
    display: inline-block; 
    flex-grow: 1;
}

.DateSort select:first-child { 
    border-left-color: #5f4e2d;
}