#DateSort {
    height: auto;
    display: flex; 
    width: 100%;
    overflow: hidden;
}

#DateSort > div {
    flex-shrink: 1;
}

.inputs {
    background-color: #00a8bd;
    color: #ffffff;
    font-size: 120%;
    border-color:#073e45;
    padding: 5px;
    height: 45px;
    display: inline-block; 
    flex-grow: 1;
}