.DateSort {
    margin-top: 20px;
    height: auto;
    display: flex; 
    width: 100%;
    overflow: hidden;
    flex-direction: column;

    @media (min-width: 670px) {
        flex-direction: row;
    }

    &:before {
        @media (min-width: 670px) {
            content: " ";
            display: inline-block;
            height: 80px;
            width: 66px;
            background-image: url('./../Img/ticket_left.png');
        }
    }

    &:after {
        
        @media (min-width: 670px) {
            content: " ";
            display: inline-block;
            height: 80px;
            width: 66px;
            background-image: url('./../Img/ticket_right.png');
        }
    }

    > div {
        background-color: #d5ae63;
        background-repeat: repeat-x;
        height: auto;
        display: flex;
        overflow: hidden;
        align-items: normal;
        flex-direction: column;
        flex-shrink: 1;
        flex-grow: 1;
        
        @media (min-width: 670px) {
            flex-direction: row;
            align-items: center;
        }
    }
}

.DateSort select {
    background-color: #d5ae63;
    color: #ffffff;
    font-size: 120%;
    border-right-color: #5e4d2d;
    padding: 5px;
    height: 100%;
    display: inline-block; 
    flex-grow: 1;
}

.DateSort select:first-child { 
    border-left-color: #5f4e2d;
}