.MovieHolder {
    margin-top: 40px;
    width: auto;
    overflow: hidden;
}

.MovieGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.MovieGrid > div {
    width: 150px;
    margin: 8px;
}

.MovieGrid > div img {
    max-width: 100%;
    max-height: calc(100% - 1em);
}
